/* about section styling */
.about .title::after {
	content: "Know me better";
}
.about .about-content .left {
	width: 45%;
}
.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: contain;
	border-radius: 6px;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right .text span {
	color: rgb(181, 0, 252);
}
.about .about-content .right p {
	text-align: justify;
}
.about .about-content .right .cv_link {
	display: inline-block;
	background: rgb(181, 0, 252);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(181, 0, 252);
	transition: all 0.3s ease;
}
.about .about-content .right .cv_link:hover {
	color: rgb(181, 0, 252);
	background: none;
}

@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}

@media (max-width: 947px) {
	.max-width {
		max-width: 930px;
	}
	.about .about-content .column {
		width: 100%;
	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right {
		flex: 100%;
	}
}
@media (max-width: 500px) {
	.about .about-content .right .text {
		font-size: 19px;
	}
}
@media (max-width: 365px) {
	.about .title::after {
		width: max-content;
	}
}
