footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: rgb(181, 0, 252);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: none;
}

.social {
    margin-bottom: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

footer span .social a {
    display: flex;
	align-items: center;
	justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    background: rgb(181, 0, 252);
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

footer span .social a .fa {
    /* line-height: 26px; */
	font-size: 20px;
	/* margin: auto; */
}

footer span .social a:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
}

footer span .social a:nth-child(1):hover {
    color: #e23670;
    box-shadow: 0 0 15px #e1306c;
    text-shadow: 0 0 15px #e1306c;
}

footer span .social a:nth-child(3):hover {
    color: #001c3e;
    box-shadow: 0 0 15px #001c3e;
    text-shadow: 0 0 15px #001c3e;
}

footer span .social a:nth-child(4):hover {
    color: #fff;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
}

/* Path: src/components/Navbar/Navbar.css */

@media (max-width: 1300px) {
	.home .max-width {
		margin-left: 0px;
	}
}

@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}
@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active {
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 70px;
	}
	.home .home-content .text-3 {
		font-size: 35px;
	}
	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width {
		max-width: 930px;
	}
	.about .about-content .column {
		width: 100%;
	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right {
		flex: 100%;
	}
	.interests .serv-content .card {
		width: calc(50% - 10px);
		height: auto;
		margin-bottom: 2vh;
	}
	.skills .skills-content .column,
	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 35px;
	}
	.projects .carousel .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
}

@media (max-width: 690px) {
	.max-width {
		padding: 0 23px;
	}
	.home .home-content .text-2 {
		font-size: 60px;
	}
	.home .home-content .text-3 {
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 20px;
	}
	.interests .serv-content .card {
		width: 100%;
	}
	.projects .carousel .card {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.home .home-content .text-2 {
		font-size: 50px;
	}
	.home .home-content .text-3 {
		font-size: 27px;
	}
	.about .about-content .right .text,
	.skills .skills-content .left .text {
		font-size: 19px;
	}
	.contact .right form .fields {
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
	.scroll-up-btn {
		right: 15px;
		bottom: 15px;
		height: 38px;
		width: 35px;
		font-size: 23px;
		line-height: 38px;
	}
}
